{% extends 'layout.html' %}
{% block body %}
{{ path|safe }}

<div class="loginbox">
    <h3>Change Password</h3>
    <form action="/change_password" method="POST">
        <input class="loginelement" type="password" placeholder="Old Password" name="old_password" required><br>
        <input class="loginelement" type="password" placeholder="New Password" name="new_password" required><br>
        <input class="loginelement" type="password" placeholder="Confirm New Password" name="confirm_password" required><br>
        <input class="loginelement" type="submit" value="Change Password">
    </form>
</div>

{% endblock %}