<a href="/" id="nolinks"><b>{{ config.SITE_NAME }}</b></a>{% if config.SITE_DESCRIPTION %} - {% endif %} <i>{{ config.SITE_DESCRIPTION }}</i>
<div class="login">
	{% if current_user.is_authenticated %}
	<b {% if current_user.admin %} style="color: red;" {% endif %}>{{ current_user.username }}</b><a class="logoutlink" href="/action_logout">(logout)</a>
	{% else %}
	<a href="/loginform">Click here to login or register!</a>
	{% endif %}
</div>

{% if current_user.is_authenticated %}
    <div class="actualuser">
        <a href="{{ url_for('routes.user', user_id=current_user.id) }}">Profile</a>
		<a href="{{ url_for('routes.change_password') }}">Change Password</a>
    </div>
{% endif %}